<div class="bg-light m-5 p-2 border border-danger border-2">
    <div class="">
        <div><a href="/addSet/<%= set['_id'] %>">(Add to Wishlist)</a></div><br>
        <div><a href="/addOwnedSet/<%= set['_id'] %>">(I Own This Set)</a></div><br>
        <span>
            <strong>Set Name: <%= set.Name %> </strong>
            <br>
            <br><strong>Amount of Pieces: <%= set.Pieces %></strong>
            <img src = "<%= set.Image%>" width = "100%" class="fit-picture">
        </span>
        <br>
        
    </div>

</div>